venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.streamlit/secrets.toml
streamlit/secrets.toml
.env
.env.local

*.log
.DS_Store
uploads/
face_data/
audio_data/
*.pkl
*.joblib
*.h5
*.pt
*.pth
dlib-*.whl
tempCodeRunnerFile.py
